%font-montserrat-normal {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
%font-montserrat-700 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
%font-vollkorn-normal {
    font-family: 'Vollkorn', serif;
    font-style: normal;
    font-weight: 400;
}
%font-vollkorn-normal-italic {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-weight: 400;
}
