.single-article {
    @extend .single-post;
}

.single-article--container {
    @extend .single-post--container;
}

.single-article--content {
    $font-size: $single-post-content-font-size;
    @extend %single-post--content;

    .wp-caption-text {
        @include adjust-font-size-to(20px, $from-size:$font-size);
    }

    .single-article--datetime {
        @include adjust-font-size-to(18px, $from-size:$font-size);
    }

    .single-article--title {
        @extend %font-montserrat-700;
        @include adjust-font-size-to(30px, $from-size:$font-size);
        @include margin-trailer(2, $font-size);
    }
}

.single-article--datetime {
    @extend %font-montserrat-700;
    color: $color-home-news-pretitle;
    text-transform: uppercase;
}

.single-article--title {
    @extend %font-montserrat-700;
    text-transform: uppercase;
}

.single-article--aside {
    @extend %font-vollkorn-normal-italic;
    @extend .single-post--aside;
}

.single-article--aside-photo284x284 {
    @include margin-leader(-5);
}

.single-article--aside-description {
    $font-size: $single-post--aside-font-size;
    @include margin-leader(2, $font-size);
    @include padding-leader(1, $font-size);
    position: relative;

    &::before {
        @extend %compass-inline-block;
        @include leading-border(6px, $font-size:$font-size);
        border-color: $color-link;
        content: "";
        position: absolute;
        top: 0;
        width: pxtoem(35px);
    }
}

.single-article--aside-links {
    $font-size: $single-post--aside-font-size;
    @include margin-trailer(3, $font-size);
}

.single-article--aside-site {}

.single-article--aside-facebook {}

.single-article--aside-twitter {}

.single-article--aside-instagram {}
