$event--entry-context: 7;

.event--entry {
    @extend %compass-clearfix;
    @include margin-trailer(2);

    @include at-breakpoint($media-layout-desktop-small) {
        @include pre(1, 12);
        @include span-columns($event--entry-context, 12);

        &:nth-of-type(odd) {
            @include post(4, 12);
        }

        &:nth-of-type(even) {
            @include pre(5, 12);
            @include omega;
        }
    }
}

.event--figure {
    @include at-breakpoint($media-layout-tablet) {
        @include span-columns(3, $event--entry-context);

        & ~ .event--title,
        & ~ .event--posttitle,
        & ~ .event--subtitle,
        & ~ .event--site {
            @include span-columns(4 omega, $event--entry-context);
        }
    }
}

.event--img-link {
    &:hover {
        @extend %compass-opacity-80;
    }
}

.event--posttitle,
.event--subtitle,
.event--site {
    @include adjust-font-size-to(22px);
}

.event--title,
.event--posttitle {
    @extend %font-montserrat-700;
}

.event--subtitle {
    @extend %font-vollkorn-normal;
    line-height: 1.45;
}

.event--title {
    @include adjust-font-size-to(28px);
    line-height: 1.2;
    text-transform: uppercase;
}

.event--posttitle {
    color: #728383;
    text-transform: uppercase;
}

.event--site {
    @extend %font-vollkorn-normal-italic;
}

.event--site-link,
.event--locale {
    color: $color-link;
}

.event--site-link {
    &:hover {
        color: $color-link-hover;
    }
}
