$event--entry-context: 7;
.event--entry {
    @extend %compass-clearfix;
    @include margin-trailer(2);

    @include pre(1);
    @include span-columns($event--entry-context);

    &:nth-of-type(odd) {
        @include post(4);
    }

    &:nth-of-type(even) {
        @include pre(5);
        @include omega;
    }
}

.event--figure {
    @include span-columns(3, $event--entry-context);

    & ~ .event--title,
    & ~ .event--posttitle,
    & ~ .event--subtitle,
    & ~ .event--site {
        @include span-columns(4 omega, $event--entry-context);
    }
}

.event--posttitle,
.event--subtitle,
.event--site {
    @include adjust-font-size-to(22px);
}

.event--title,
.event--posttitle {
    @extend %font-montserrat-700;
}

.event--subtitle,
.event--site {
    @extend %font-vollkorn-normal;
}

.event--title {
    @include adjust-font-size-to(28px);
    text-transform: uppercase;
}

.event--posttitle {
    color: #728383;
    text-transform: uppercase;
}

.event--locale {
    color: $color-link;
}
