.page-authors--entry {
    @include pre(1);
    @include span-columns(10);
    @include post(1);
    @include margin-trailer(4);

    @include at-breakpoint($media-layout-desktop-small) {
        @include span-columns(7, 12);
        @include post(4, 12);

        &:nth-child(even) {
            @include pre(4, 12);
            @include post(1, 12);
        }
    }
}

.page-authors--figure {
    $width: columns(3, 7) + gutter();
    float: left;
    width: $width;

    & ~ .page-authors--name,
    & ~ .page-authors--title,
    & ~ .page-authors--subtitle {
        margin-left: $width + gutter();
    }
}

.page-authors--name,
.page-authors--title {
    text-transform: uppercase;
}

.page-authors--name {
    @extend %font-montserrat-700;
    @include adjust-font-size-to(28px);
}

.page-authors--title {
    @extend %font-montserrat-normal;
    @include adjust-font-size-to(22px);
    line-height: 1.2;
}

.page-authors--title-link {
    color: $color-text-alternate;
}

.page-authors--subtitle {
    @extend %font-vollkorn-normal;
    @include adjust-font-size-to(20px);
    line-height: 1.45;
}

.page-authors--subtitle-link {
    color: $color-text;
}
