.content--hd {
    @include container;
}

.content--breadcrumb,
.content--datetime,
.content--title,
.content--content {
    @include pre(1);
    @include span-columns(10);
}

.content--breadcrumb {
    @extend %font-montserrat-normal;
    @include leader;
    @include adjust-font-size-to(18px);
    @include trailer;
}

.content--datetime,
.content--title {
    @extend %font-montserrat-700;
    text-align: center;
    text-transform: uppercase;
}

.content--datetime {
    @include leader;
    @include adjust-font-size-to(18px);
    @include trailer;
    color: $color-text-alternate;
}

.content--title {
    @include adjust-font-size-to(50px);
    @include trailer;
}
