.content-hd {
}

.content-hd--container {
    @extend %susy-container;

    position: relative;

    &::before {
        @extend %compass-inline-block;
        @include rotate(-25deg);
        border: pxtoem(4px) solid $color-home-news-bar;
        top: pxtoem(240px);
        content: '';
        position: absolute;
        right: 0;
        width: pxtoem(923px);
    }

    & ~ &::before {
        content: none;
    }
}

.content-hd--pretitle,
.content-hd--title,
.content-hd--content {
    @include pre(1);
    @include span-columns(10);
}

.content-hd--pretitle,
.content-hd--title {
    @extend %font-montserrat-700;
    text-align: center;
    text-transform: uppercase;
}

.content-hd--pretitle {
    @include leader;
    @include adjust-font-size-to(18px);
    @include trailer;
    color: $color-text-alternate;
}

.content-hd--title {
    @include adjust-font-size-to(50px);
    @include trailer;
    position: relative;
    z-index: 1;
}

.content-hd--embed {
    // Responsive Video
    // http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.content-bd {
    $min-height: 400px;
    @extend %compass-pie-clearfix;
    min-height: pxtoem($min-height);

    &::before {
        @extend %compass-inline-block;
        @include background-image(linear-gradient(black, white));
        @include opacity(.1);
        @include stretch-x;
        content: "";
        height: pxtoem($min-height);
        z-index: -10;
    }
}

.content-bd--container {
    @extend %susy-container;
    @include padding-leader(4);
    position: relative;
    z-index: 10;
}

.content--entry {
    @include pre(1);
    @include span-columns(9);
    @include margin-trailer(2);

    @include at-breakpoint($media-layout-desktop-small) {
        @include span-columns(7, 12);
    }
}

.content--figure {
    @include span-columns(4, 8);
}

.content--image-link {
    @extend %compass-inline-block;
    @extend %compass-clearfix;

    img {
        float: left;
    }
}

.content--pretitle,
.content--title,
.content--subtitle {
    .content--figure ~ & {
        @include span-columns(4 omega, 8);
    }
}

.content--pretitle {
    @extend %font-montserrat-700;
    color: $color-home-news-pretitle;
    text-transform: uppercase;
}

.content--title {
    $font-size: 28px;
    @extend %font-montserrat-700;
    font-size: pxtoem($font-size);
    line-height: 1.2em;
    padding: pxtoem(7px, $font-size) 0 pxtoem(8px, $font-size) 0;
    text-transform: uppercase;
}

.content--title-link {
    color: $color-home-news-title;
}

.content--subtitle {
    @extend %font-vollkorn-normal;
    font-size: pxtoem(20px);
    line-height: 1.45;
}

.content--subtitle-link {
    color: $color-home-news-subtitle;
}
