#ft {
    @extend %font-montserrat-700;
    border-bottom: 5px solid $color-border-hd;
    padding-top: pxtoem(133px);
    text-transform: uppercase;

    .container {
        position: relative;
    }

    .nav-menu {
        @extend %compass-pie-clearfix;
    }

    .menu-item {
        @extend %compass-inline-block;
    }
}

#ft--nav-footer {
    @include pre(1);
    @include span-columns(7);

    .menu-item + .menu-item {
        margin-left: pxtoem(24px);
    }

    a {
        color: $color-menu-item-ft;
        font-size: pxtoem(14px);

        &:hover {
            color: $color-menu-item-ft-hover;
        }
    }
}

#ft--nav-social {
    @include span-columns(3 omega);
    @include post(1);
    text-align: right;

    .menu-item {
        padding: 10px;
        position: relative;

        &::before {
            @extend %compass-inline-block;
            @extend %compass-border-radius-50;
            @extend %compass-stretch;
            background: $color-menu-item-ft;
            content: '';
            z-index: -1;
        }

        &:hover::before {
            background: $color-menu-item-ft-hover;
        }

        & + .menu-item {
            margin-left: pxtoem(20px);
        }
    }
}

#ft--copy {
    $font-size: 14px;
    @include pre(1);
    bottom: 0;
    font-size: pxtoem($font-size);
    position: absolute;
    text-transform: none;

    &::before {
        @extend %compass-inline-block;
        @include icons-sprite(logo-black-138x26);
        content: '';
        margin-right: pxtoem(28px, $font-size);
    }
}

#ft--made-in {
    $font-size: 14px;
    @include span-columns(10);
    border-top: 2px solid $color-border-ft;
    font-size: pxtoem($font-size);
    margin-top: pxtoem(25px, $font-size);
    padding-top: pxtoem(30px, $font-size);
    text-align: right;

    // override grid
    margin-left: columns(1);
    padding-left: gutter();
    padding-right: gutter();
    margin-right: columns(1);
}

#ft--xtra {
    $label-margin-trailer-lines: 1;
    @include margin-leader(2);
    background: $color-bg-ft;
    color: $color-bg;

    .sponsorship {
        $padding-lines: 3;
        @include pre(1);
        @include span-columns(10 omega);
        @include post(1);
        @include padding-leader($padding-lines);
        @include padding-trailer($padding-lines + $label-margin-trailer-lines);
        position: relative;
    }

    .sponsorship-label {
        @include margin-trailer($label-margin-trailer-lines);
    }

    .sponsorship-incentive {
        @include span-columns(9);

        .entity {
            float: left;

            & + .entity {
                margin-left: gutter(10);

                @include at-breakpoint($media-layout-desktop-large) {
                    margin-left: columns(1, 10) + gutter(10);
                }
            }
        }
    }

    .sponsorship-realization {
        @include span-columns(3 omega);
    }

    .entity-entry {
        @extend %compass-hide-text;
        @extend %compass-inline-block;
    }

    $items: funcultura fundarpe secretaria-pe nuvem-gm;
    @each $item in $items {
        .#{$item} .entity-entry {
            @include icons-sprite($item);
        }
    }
}
