#hd {
    @extend %font-montserrat-normal;
    background: $color-bg-hd;
    border-top: 5px solid $color-border-hd;
    padding: pxtoem(30px) 0 pxtoem(10px) 0;

    .container {
        position: relative;
    }

    .nav-menu {
        @extend %compass-clearfix;
    }

    .menu-item {
        @extend %compass-inline-block;
    }

    a {
        @extend %compass-inline-block;
        color: $color-menu-item;
    }
}

#hd--logo {
    @include span-columns(5);

    // override grid
    margin-left: columns(1);

    a {
        @extend %compass-hide-text;
        @extend %compass-inline-block;
        @include icons-sprite(logo-138x26);
    }
}

#hd--nav-social {
    @include span-columns(5 omega);
    text-align: right;

    // override grid
    margin-right: columns(1);

    .menu-item + .menu-item {
        margin-left: pxtoem(50px);
    }
}

$nav-main-margin-top: 38px;
$nav-main-a-padding-top: 40px;
#hd--nav-main {
    @extend %compass-border-sizing-border-box;
    @include span-columns(12);
    border-top: 1px solid #FFF;
    margin-top: pxtoem($nav-main-margin-top);

    // override grid
    margin-left: columns(1);
    margin-right: columns(1);
    padding-right: columns(1);
    width: space(10) + gutter();

    .menu-item + .menu-item {
        margin-left: pxtoem(40px);

        @include at-breakpoint($media-layout-desktop-small) {
            margin-left: pxtoem(70px);
        }
    }

    .current-menu-item a {
        color: $color-menu-current-item;
    }

    a {
        text-transform: uppercase;
        padding: pxtoem(40px) 0;

        &:hover {
            color: $color-menu-item-hover;
        }
    }
}

.nav-search--lb {
    margin-right: columns(1);
    margin-top: icons-sprite-height(search-27x27) / -2;
    padding-right: 17px;
    position: absolute;
    right: 0;
    top: icons-sprite-height(logo-138x26) + $nav-main-margin-top + $nav-main-a-padding-top;
}
