.single {
    position: relative;
}

.single--hd,
.single--content {
    @include container;
}

.single--breadcrumb,
.single--datetime,
.single--title,
.single--content {
    @include pre(1);
    @include span-columns(10);
}

.single--breadcrumb {
    @extend %font-montserrat-normal;
    @include leader;
    @include adjust-font-size-to(18px);
    @include trailer;
}

.single--datetime,
.single--title {
    @extend %font-montserrat-700;
    text-align: center;
    text-transform: uppercase;
}

.single--datetime {
    @include leader;
    @include adjust-font-size-to(18px);
    @include trailer;
    color: $color-text-alternate;
}

.single--title {
    @include adjust-font-size-to(50px);
    @include trailer;
}

.single--article {
    body.debug {
        @include debug-vertical-alignment;
    }

    @extend %compass-clearfix;
    border-top: 1px solid #B4BEC2;

    &::before {
        @extend %compass-inline-block;
        @include background-image(linear-gradient(black, white));
        @include opacity(.1);
        @include stretch-x;
        content: "";
        height: pxtoem(400px);
        z-index: -1;
    }
}

.single--content {
    $font-size: 28px;
    $lines: lines-for-font-size($font-size);

    @extend %font-vollkorn-normal;
    @include adjust-font-size-to($font-size);
    @include padding-leader(2 * $lines, $font-size);

    & > * {
        @include margin-trailer($lines, $font-size);
        @include span-columns(6 omega);
        @include post(6);
    }

    blockquote {
        @include span-columns(8);
        @include post(4);
        @include margin-leader($lines, $font-size);
        @include margin-trailer($lines, $font-size);

        p {
            @extend %font-vollkorn-normal-italic;
            @include adjust-font-size-to(38px, $from-size:$font-size);
            color: $color-text-alternate;
            margin-left: gutter();
        }
    }

    a {
        color: $color-link;
    }
}

.single-aside {
    position: relative;

    &::before {
        @include stretch;
        background: $color-bg-aside;
        border-bottom: rhythm(4) $color-bg solid;
        content: "";
        z-index: -1;
    }
}

.single-aside-header,
.single-aside-content {
    @include container;
}

.single-aside-header-title {
    $font-size: 30px;
    $lines: 3;

    @extend %font-montserrat-700;
    @include padding-leader($lines, $font-size);
    @include padding-trailer($lines, $font-size);
    font-size: pxtoem($font-size);
    text-align: center;
    text-transform: uppercase;

    &::before {
        background: $color-bg;
        content: "";
        height: rhythm($lines + 1 + $lines, $font-size);
        margin-top: - rhythm($lines, $font-size);
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

.single-aside-content {
    @include padding-leader(4);
    @include pad(1, 1);
}

.single-aside-item {
    @include span-columns(4);
    @include nth-omega(3n);
}

.single-aside-pretitle,
.single-aside-title {
    text-transform: uppercase;
}

.single-aside-img {
    max-width: 100%;
    height: auto;
}

.single-aside-pretitle {
    @extend %font-montserrat-700;
    color: $color-link;
}

.single-aside-title {
    @extend %font-montserrat-700;
    color: $color-text;
    font-size: pxtoem(22px);
}
