.single {
    @extend .content--bd;
}

.single--container {
    @extend %susy-container;

    a {
        color: $color-link;
    }
}

$single-content-font-size: 28px;
$single-content-grid-context: 10;
%single--content {
    @extend %font-vollkorn-normal;
    @include adjust-font-size-to($single-content-font-size);
    @include padding-leader(4, $single-content-font-size);
    @include span-columns($single-content-grid-context);
    @include pre(1);

    & > * {
        @include margin-trailer(1, $single-content-font-size);
    }
}

.single--content {
    @extend %single--content;

    & > * {
        @include span-columns(6, $single-content-grid-context);
        @include post(4, $single-content-grid-context);
    }

    blockquote {
        @include span-columns(7, $single-content-grid-context);
        @include post(3, $single-content-grid-context);
        @include margin-leader(1, $single-content-font-size);
        @include margin-trailer(1, $single-content-font-size);

        p {
            @extend %font-vollkorn-normal-italic;
            @include adjust-font-size-to(38px, $from-size:$single-content-font-size);
            color: $color-text-alternate;
            margin-left: gutter();
        }
    }
}

@import "single/article";
@import "single/artist";
@import "single/event";
