@import "common";

@include global-reset;
@include establish-baseline;

@import "bxslider";
@import "partials";

@import "header";
@import "nav-menu";
@import "content";
@import "single";
@import "page";
@import "searchresults";
@import "footer";

@import "home";
@import "archive";

body {
    color: $color-text;
}

#hd,
#bd,
#ft {
    @include at-breakpoint($media-layout-phone) {
        font-size: pxtoem(12px);
    }

    @include at-breakpoint($media-layout-tablet) {
        font-size: pxtoem(12px);
    }

    @include at-breakpoint($media-layout-desktop-small) {
        font-size: pxtoem(13px);
    }

    @include at-breakpoint($media-layout-desktop-large) {
        font-size: pxtoem(14px);
    }
}

a {
    text-decoration: none;
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.wp-caption {
    width: auto !important;
}

.container {
    @include container;

    body & {
//        @include susy-grid-background;
    }
}
