@import "common";

@include global-reset;
@include establish-baseline;

@import "bxslider";
@import "partials";

@import "header";
@import "nav-menu";
@import "content";
@import "page";
@import "footer";

@import "home";
@import "single";
@import "archive";

body {
    color: $color-text;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

img {
    border: 0;
    height: auto;
    max-width: 100%;
}

.wp-caption {
    width: auto !important;
}

.container {
    @include container;

    body & {
//        @include susy-grid-background;
    }
}
