@import "common";

@include global-reset;

@import "header";
@import "nav-menu";
@import "footer";

@import "home";
@import "single";

body {
    color: $color-text;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.container {
    @include container;

    body.debug & {
        @include susy-grid-background;
    }
}
