.breadcrumb {
    @extend %font-montserrat-normal;
    @include leader(2);
    @include adjust-font-size-to(18px);
    @include trailer;

    // override grid
    margin-left: columns(1);
    width: space(10) + gutter();

    text-align: center;
    text-transform: uppercase;

    @include at-breakpoint($media-layout-desktop-small) {
        @include leader;
        text-align: left;
    }

    span,
    .sep {
        &:last-of-type {
            display: none;
        }
    }

    a {
        color: $color-text;
    }
}
