.single-aside {
    position: relative;

    &::before {
        @include stretch;
        background: $color-bg-aside;
        border-bottom: rhythm(6) $color-bg solid;
        content: "";
        z-index: -1;
    }
}

.single-aside--container {
    @extend %susy-container;
}

.single-aside--hd-title {
    $font-size: 30px;
    $lines: 3;

    @extend %font-montserrat-700;
    @include padding-leader($lines, $font-size);
    @include padding-trailer($lines, $font-size);
    font-size: pxtoem($font-size);
    text-align: center;
    text-transform: uppercase;

    &::before {
        background: $color-bg;
        content: "";
        height: rhythm($lines + 1 + $lines, $font-size);
        margin-top: - rhythm($lines, $font-size);
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

.single-aside--bd {
    @include padding-leader(2);
}

.single-aside--item {
    @include span-columns(3);

    &:first-child {
        @include pre(1);
        margin-right: (columns(1) / 2) + (gutter() / 2) + gutter();
    }

    &:nth-child(3n) {
        @include omega;
        @include post(1);
    }
}

.single-aside--figure-link {}

.single-aside--pretitle,
.single-aside--title {
    text-transform: uppercase;
}

.single-aside--pretitle {
    @extend %font-montserrat-700;
    color: $color-link;
}

.single-aside--title {
    @extend %font-montserrat-700;
    font-size: pxtoem(22px);
}

.single-aside--title-link {
    color: $color-text;
}
