.single-aside {
    position: relative;

    &::before {
        @include at-breakpoint($media-layout-tablet) {
            @include stretch;
            background: $color-bg-aside;
            border-bottom: rhythm(8) $color-bg solid;
            content: "";
            z-index: -1;
        }

        @include at-breakpoint($media-layout-desktop-small) {
            border-bottom-width: rhythm(7);
        }

        @include at-breakpoint($media-layout-desktop-large) {
            border-bottom-width: rhythm(6);
        }
    }
}

.single-aside--container {
    @extend %susy-container;
}

.single-aside--hd-title {
    $font-size: 30px;
    $lines: 3;

    @extend %font-montserrat-700;
    font-size: pxtoem($font-size);
    text-align: center;
    text-transform: uppercase;

    @include at-breakpoint($media-layout-tablet) {
        @include padding-leader($lines, $font-size);
        @include padding-trailer($lines, $font-size);

        &::before {
            background: $color-bg;
            content: "";
            height: rhythm($lines + 1 + $lines, $font-size);
            margin-top: - rhythm($lines, $font-size);
            left: 0;
            position: absolute;
            right: 0;
            z-index: -1;
        }
    }
}

.single-aside--bd {
    @include padding-leader(2);
}

.single-aside--item {
    @include pre(1);
    @include post(1);
    @include margin-trailer(2);

    @include at-breakpoint($media-layout-tablet) {
        @include span-columns(3, 12);
        @include margin-trailer(0);
        @include pre(0);
        @include post(0);

        &:first-child {
            @include pre(1, 12);
            margin-right: (columns(1, 12) / 2) + (gutter(12) / 2) + gutter(12);
        }

        &:nth-child(3n) {
            @include omega;
            @include post(1, 12);
        }
    }
}

.single-aside--figure-link {}

.single-aside--pretitle,
.single-aside--title {
    text-align: center;
    text-transform: uppercase;

    @include at-breakpoint($media-layout-tablet) {
        text-align: left;
    }
}

.single-aside--pretitle {
    @extend %font-montserrat-700;
    color: $color-link;
}

.single-aside--title {
    @extend %font-montserrat-700;
    font-size: pxtoem(22px);
}

.single-aside--title-link {
    color: $color-text;
}
