@include keyframes(pulse) {
    0%, 100% {
        @include opacity(1);
    }
    50% {
        @include opacity(.75);
    }
}

.subscribe--form {
    $font-size: 20px;
    @extend %compass-pie-clearfix;
    @extend %font-montserrat-normal;
    @include padding-leader(3);
    @include padding-trailer(2);
    position: relative;

    &.js-loading {
        .input--submit {
            @include animation(pulse 1s infinite ease-in);
            cursor: wait;
        }
    }

    h1 {
        @include hide-text;
        @include icons-sprite(logo-274x53);
        @include margin-trailer;
    }

    a {
        color: $color-link;
    }

    p {
        @include margin-trailer;
        @include span-columns(6);
    }

    & > p {
        &:last-of-type {
            @include omega;
        }
    }

    input,
    label,
    select,
    textarea {
        @include adjust-font-size-to($font-size);
        padding: rhythm(1, $font-size) / 2;
    }

    input,
    select,
    textarea,
    .subscribe--agreement-label {
        @extend %compass-border-radius;
        @extend %compass-border-sizing-border-box;
        @extend %font-montserrat-normal;
        border: 1px solid $color-border-form;
    }

    input,
    textarea {
        width: 100%;
    }

    select {
        font-size: 20px !important;
        line-height: 20px !important;
    }

    textarea {
        height: rhythm(6);
    }

    .subscribe--fieldset {
        label {
            cursor: pointer;
            display: block;
            padding-left: 0;
        }
    }

    .input--submit,
    .subscribe--agreement-label {
        @include padding-leader;
        @include padding-trailer;
        background: $color-text-alternate;
        color: $color-bg;
        cursor: pointer;
        text-transform: uppercase;
        border-width: 0;
    }
}

.subscribe--fieldset {
    @extend %compass-clearfix;
    clear: both;

    & > p {
        @include nth-omega(2n);

        &:last-of-type {
            @include span-columns(12);
        }
    }
}

.subscribe--agreement-checkbox {
    display: none;

    &:checked {
        & ~ .subscribe--fieldset,
        & ~ .subscribe--fieldset ~ p {
            display: none;
        }

        & ~ .subscribe--agreement-label {
            display: block;
        }
    }
}

.subscribe--agreement-label {
    @include span-columns(6 omega);
    bottom: rhythm(2);
    display: none;
    position: absolute;
    right: 0;
    text-align: center;
    margin-bottom: 10px;
}
