@include keyframes(pulse) {
    0%, 100% {
        @include opacity(1);
    }
    50% {
        @include opacity(.75);
    }
}

.subscribe--form {
    $font-size: 20px;
    @extend %compass-pie-clearfix;
    @extend %font-montserrat-normal;
    @include padding-leader(3);
    @include padding-trailer(5);
    position: relative;

    @include at-breakpoint($media-layout-tablet) {
        @include padding-trailer(2);
    }

    &.js-loading {
        .input--submit {
            @include animation(pulse 1s infinite ease-in);
            cursor: wait;
        }
    }

    h1 {
        @include hide-text;
        @include icons-sprite(logo-274x53);
        @include margin-trailer;
    }

    a {
        color: $color-link;
    }

    p {
        @include margin-trailer;

        @include at-breakpoint($media-layout-tablet) {
            @include span-columns(6, 12);
        }
    }

    label,
    .input--submit {
        cursor: pointer;
    }

    & > p {
        &:last-of-type {
            @include at-breakpoint($media-layout-tablet) {
                @include omega;
            }
        }
    }

    input,
    label,
    select,
    textarea {
        @include adjust-font-size-to($font-size);
        padding: rhythm(1, $font-size) / 2;
    }

    input,
    select,
    textarea,
    .subscribe--agreement-label-y {
        @extend %compass-border-radius;
        @extend %compass-border-sizing-border-box;
        @extend %font-montserrat-normal;
        border: 1px solid $color-border-form;
    }

    input,
    textarea {
        width: 100%;
    }

    textarea {
        height: rhythm(6);
    }

    .subscribe--fieldset {
        label {
            display: block;
            padding-left: 0;
        }
    }

    .input--submit,
    .subscribe--agreement-label-y {
        @include padding-leader;
        @include padding-trailer;
        background: $color-text-alternate;
        color: $color-bg;
        text-transform: uppercase;
        border-width: 0;
    }
}

.subscribe--fieldset {
    @extend %compass-clearfix;
    clear: both;

    & > p {
        &:last-of-type {
            @include span-columns(12 omega);
        }

        @include at-breakpoint($media-layout-tablet) {
            @include nth-omega(2n);
        }
    }
}

.subscribe--agreement-radio {
    display: none;
}

#subscribe--agreement-n {
    &:checked {
        & ~ .subscribe--fieldset,
        & ~ .subscribe--fieldset ~ p {
            display: none;
        }

        & ~ .subscribe--agreement-label-y {
            display: block;
        }

        & ~ .subscribe--agreement-label-n {
            display: none;
        }
    }
}

.subscribe--agreement-label-y {
    bottom: rhythm(1);
    display: none;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    text-align: center;

    @include at-breakpoint($media-layout-tablet) {
        @include span-columns(6 omega, 12);
        bottom: rhythm(1);
        left: auto;
    }
}

.subscribe--agreement-label-n {
    @extend %compass-hide-text;
    @extend %compass-inline-block;
    @include icons-sprite(close);
    position: absolute;
    right: 0;
    top: icons-sprite-height(close) / -2;

    .subscribe--form & {
        padding: 0;
    }

    @include at-breakpoint($media-layout-tablet) {
        top: auto;
    }
}
