.home-highlight-1 {
    @include container;
    padding-bottom: pxtoem(250px);

    a {
        @extend %compass-inline-block;

        &:hover {
            text-decoration: none;
        }
    }
}

.home-highlight-1-figure-1 {
    margin-left: - $grid-padding;
    margin-right: - $grid-padding;
}

.home-highlight-1-img-1,
.home-highlight-1-img-2 {
    height: auto;
    max-width: 100%;
}

.home-highlight-1-img-1 {
    width: 100%;
}

.home-highlight-1-pretitle,
.home-highlight-1-title {
    @include pre(2);
    @include span-columns(4);
    text-align: right;
}

.home-highlight-1-pretitle {
    @extend %font-montserrat-700;
    color: $color-home-hightlight-1-pretitle;
    font-size: pxtoem(24px);
    margin-bottom: pxtoem(10px);
    text-transform: uppercase;
}

.home-highlight-1-title {
    @extend %font-vollkorn-normal-italic;
}

.home-highlight-1-title-link {
    color: $color-home-hightlight-1-link;
    font-size: pxtoem(40px);
    line-height: 1.2;

    &:hover {
        color: $color-home-hightlight-1-link-hover;
    }
}

.home-highlight-1-figure-2 {
    @include span-columns(4);
    position: relative;
}

.home-highlight-1-figure-2-link {
    background: $color-bg;
    margin-top: - pxtoem(212px);
    position: absolute;
    top: pxtoem(-24px);

    &:hover {
        .home-highlight-1-img-2 {
            @include opacity(.9);
        }
    }
}

.home-highlight-1-img-2 {
}
