.home-highlight-1 {
    position: relative;

    &::before {
        $area_height: 398px;
        $area_width: 1440px;
        $breakpoint: 1175px;
        @include stretch-x;
        content: '';
        height: 0;
        padding-top: strip-unit($area_height / $area_width) * 100%;
        top: 0;
        z-index: -1;

        @include at-breakpoint(pxtoem($breakpoint)) {
            height: pxtoem($area_height);
            padding-top: 0;
        }
    }
}

.home-highlight-1-container {
    @include container;
    position: relative;
}

.home-highlight-1-figure-1,
.home-highlight-1-figure-2-link {
    @include pie-clearfix;

    & > * {
        float: left;
    }
}

.home-highlight-1-figure-1 {
    margin-left: - $grid-padding;
    margin-right: - $grid-padding;
}

.home-highlight-1-title-link,
.home-highlight-1-figure-2-link {
    @extend %compass-inline-block;
}

.home-highlight-1-img-1,
.home-highlight-1-img-2 {
    height: auto;
    max-width: 100%;
}

.home-highlight-1-img-1 {
    width: 100%;
}

.home-highlight-1-pretitle,
.home-highlight-1-title {
    text-align: center;

    @include at-breakpoint($media-layout-tablet) {
        @include pre(2, 12);
        @include span-columns(4, 12);
        text-align: right;
    }
}

$home-highlight-1-pretitle-font-size: 24px;
$home-highlight-1-pretitle-margin-bottom: 10px;
.home-highlight-1-pretitle {
    @extend %font-montserrat-700;
    @include nowrap;
    color: $color-home-hightlight-1-pretitle;
    font-size: pxtoem($home-highlight-1-pretitle-font-size);
    margin-bottom: pxtoem(10px, $home-highlight-1-pretitle-font-size);
    text-transform: uppercase;
}

.home-highlight-1-title {
    @extend %font-vollkorn-normal-italic;
}

.home-highlight-1-title-link {
    color: $color-home-hightlight-1-link;
    font-size: pxtoem(40px);
    line-height: 1.2;

    &:hover {
        color: $color-home-hightlight-1-link-hover;
    }
}

.home-highlight-1-figure-2 {
    @include at-breakpoint($media-layout-tablet) {
        @include span-columns(4, 12);
        @include translateY(-40%);
        position: relative;
        top: - pxtoem($home-highlight-1-pretitle-font-size + $home-highlight-1-pretitle-margin-bottom);
    }
}

.home-highlight-1-figure-2-link {
    background: $color-bg;
    max-width: 100%;

    &:hover {
        .home-highlight-1-img-2 {
            @extend %compass-opacity-80;
        }
    }
}

.home-highlight-1-img-2 {}
