.home-news {
    @include container;
    position: relative;
    z-index: 1;
}

.home-news-item {
    @include span-columns($total-columns omega);
    margin-bottom: pxtoem(80px);
    position: relative;

    &:first-child,
    &:last-of-type {
        &::before {
            @extend %compass-inline-block;
            border: pxtoem(4px) solid $color-home-news-bar;
            width: pxtoem(923px);
            position: absolute;
        }
    }

    &:first-child {
        &::before {
            @include rotate(-25deg);
            right: pxtoem(-217px);
            top: pxtoem(-170px);
            z-index: 100;
        }
    }

    &:last-of-type {
        &::before {
            @include rotate(45deg);
            bottom: 0;
            left: 0;
            margin-left: pxtoem(-300px);
            z-index: -1;
        }
    }

    @include at-breakpoint($media-layout-desktop-small) {
        @include pre(2, 12);
        @include span-columns(8, 12);
        left: - $gutter-width;

        &:first-child,
        &:last-of-type {
            &::before {
                content: '';
            }
        }
    }
}

.home-news-figure {
    @include at-breakpoint($media-layout-tablet-desktop-small) {
        @include span-columns(5, 12);

        & ~ .home-news-pretitle,
        & ~ .home-news-title,
        & ~ .home-news-subtitle {
            @include span-columns(7 omega, 12);
        }
    }

    @include at-breakpoint($media-layout-desktop-small) {
        @include span-columns(4, 8);
        text-align: right;

        & ~ .home-news-pretitle,
        & ~ .home-news-title,
        & ~ .home-news-subtitle {
            @include span-columns(4 omega, 8);
        }
    }
}

.home-news-image-link {
    @include clearfix;
    display: block;

    img {
        float: left;
        height: auto;
        max-width: 100%;
    }

    &:hover {
        img {
            @extend %compass-opacity-80;
        }
    }
}

.home-news-pretitle {
    @extend %font-montserrat-700;
    text-transform: uppercase;
}

.home-news-pretitle-link {
    color: $color-home-news-pretitle;

    &:hover {
        color: $color-home-news-pretitle-hover;
    }
}

.home-news-title {
    $font-size: 28px;
    @extend %font-montserrat-700;
    font-size: pxtoem($font-size);
    line-height: 1.2em;
    padding: pxtoem(7px, $font-size) 0 pxtoem(8px, $font-size) 0;
    text-transform: uppercase;
}

.home-news-title-link {
    color: $color-home-news-title;

    &:hover {
        color: $color-home-news-title-hover;
    }
}

.home-news-subtitle {}

.home-news-link {
    @extend %font-vollkorn-normal;
    color: $color-home-news-subtitle;
    line-height: 1.45;
    font-size: pxtoem(20px);

    &:hover {
        color: $color-home-news-subtitle-hover;
    }
}

.home-news-seemore {
    border-top: 2px solid $color-home-news-separator;
    clear: both;
    margin-top: pxtoem(20px);
    padding-top: pxtoem(45px);
    text-align: center;

    @include at-breakpoint($media-layout-desktop-small) {
        @include pre(1, 12);
        @include span-columns(9, 12);
    }
}

.home-news-seemore-link {
    @extend %font-montserrat-700;
    color: $color-home-news-seemore;
    font-size: pxtoem(20px);
    text-transform: uppercase;

    &:hover {
        color: $color-home-news-seemore-hover;
    }
}
