.home-partners {
    $items: uma-capsula mi contra acidum imaginaria;

    @include container;

    @each $item in $items {
        .#{$item} {
            @extend %compass-hide-text;
            @extend %compass-inline-block;
            @include partners-sprite(#{$item}-small);

            @include at-breakpoint($media-layout-tablet) {
                @include partners-sprite($item);
                background-position-x: center;
                max-width: 100%;
            }
        }
    }

    a:hover {
        @extend %compass-opacity-80;
    }
}

.home-partners-title {
    $font-size: 30px;
    @extend %font-montserrat-700;
    font-size: pxtoem($font-size);
    padding-bottom: pxtoem(85px, $font-size);
    padding-top: pxtoem(64px, $font-size);
    text-align: center;
    text-transform: uppercase;
}

.home-partners-items {
    @extend %compass-clearfix;
    text-align: center;

    @include at-breakpoint($media-layout-tablet) {
        @include pre(1, 12);
        @include span-columns(10 omega, 12);
        @include post(1, 12);
    }
}

.home-partners-item {
    @include span-columns(4, 12);

    &:nth-child(3n + 3) {
        @include omega;
    }

    &:nth-child(4) {
        @include pre(2);
    }
}
