// color reference names: http://richbray.me/cms/

// color pallete
$color-black: #000;
$color-white: #FFF;
$color-yellow: #FCF912;
$color-pink: #D64E9E;
$color-dark-blue: #072934;

// color names by function
$color-bg-hd: $color-black;

$color-border-hd: $color-yellow;
$color-border-ft: $color-dark-blue;

$color-text: $color-dark-blue;

$color-menu-current-item: $color-yellow;
$color-menu-item-ft: $color-pink;
$color-menu-item: $color-white;

$color-home-headlines-bg: $color-black;
$color-home-headlines-link: $color-white;

$color-home-hightlight-1-pretitle: $color-pink;
$color-home-hightlight-1-link: $color-dark-blue;

$color-home-news-bar: $color-yellow;
$color-home-news-pretitle: $color-pink;
$color-home-news-title: $color-dark-blue;
$color-home-news-subtitle: $color-black;
$color-home-news-separator: $color-dark-blue;
$color-home-news-seemore: $color-pink;
